/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

<link href="https://fonts.googleapis.com/css?family=MedievalSharp|Quicksand&display=swap" rel="stylesheet"> 

* {
    outline: 1px dotted black;
}

/* Parent Contaner */

h1 {
  font-family: 'MedievalSharp', cursive;
  text-align: center;
  font-size: 32px;
}

hr {
  width: 95%;
  height: 3px;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1px;
  margin-bottom: 1px;
  }

.trailer {
  width: 50%;
  margin: auto;
}

blockquote {
  font-family: 'MedievalSharp', cursive;
  font-size: 26px;
}

main { 
  background-image: linear-gradient(#2F4454, #000044, black);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
}

.info {
  width: 50%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

/* The Cast of the Move */

.cast {  
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

section {
  width: 75%;
}

.plyr button {
  color: #E0A513;
}

.plyr__control--overlaid {
  background: #2F4454;
}

.plyr--full-ui input[type="range"] {
  color: #2F4454;
}

.plyr__volume input[type="range"] {
  color: #E0A513;
}

.cast {
}





/* Media Queries */
/* 
  Mobile: 
  * 384px = 24em
*/
@media only screen and (min-width: 0) { 
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet:  
  * 768px = 48em 
*/
@media only screen and (min-width: 24em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 
  * 1152px = 72em
*/
@media screen and (min-width: 72em)  { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}

/* Wide Desktop: 
  * 1440px = 90em
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Wide Desktop Size";
  }

}

@media only screen 
  and (min-width: 0) 
  and (max-width: 48em)  { 
    
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: yellow;
         content: "Mobile Size";
    }
    
    .cast {
      text-align: center;
      justify-content: center;
    }
  
}

/* Tablet:  
  * 768px = 48em 
    1023px = 63.9375em;
*/
@media only screen 
  and (min-width: 48em) 
  and (max-width: 64em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  } 
    
}

/* Desktop: 
  * 1024px = 64em
  * 64em and larger
*/
@media screen 
  and (min-width: 64em) 
  and (max-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}

/* Wide Desktop: 
  * 1440px = 90em
  * 90em and wider
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Wide Desktop Size";
  }

}

