/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

:root {
  --font-family: 'Source Sans Pro', sans-serif;
  --font-family-header: 'Source Sans Pro', sans-serif;
  --font-weight: 400;
  --font-weight-bold: 700;
  --font-size-xlarge: 30px;
  --font-size-large: 25px;
  --font-size-medium: 20px;
  --font-size: 16px;
  --font-size-small: 14px;
 --lineheight-high: 1.75em;
  --lineheight-normal: 1.5em;
  --lineheight-tight: 1.2em;
  --margin-base: 20px;
  --margin-large: 40px;
  --margin-xlarge: 60px;
  --margin-xxlarge: 80px;
  --margin-xxxlarge: 100px;
  --grid-gap: 40px;
  --grid-gap-small: 20px;
  --grid-gap-vsmall: 0px;
  --max-width: 92rem;
  --color-base: #333333;
  --color-accent : #808080;
  --color-accent-second : #333333;
}

@media (min-width: 768px) {
:root {
  --font-size-xlarge: 58px;
    --font-size-large: 28px;
    --font-size-medium: 20px;
    --font-size: 16px;
}
}

@media (min-width: 1200px) {
:root {
  --font-size-xlarge: 58px;
    --font-size-large: 28px;
    --font-size-medium: 20px;
    --font-size: 16px;
}
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
display:block; 
zoom:1;
}

audio, canvas, video { 
display: inline-block; *display: inline; *zoom: 1; 
}

img {
width: 100%;
}


@-ms-viewport {
  width: device-width
}

@-o-viewport {
  width: device-width
}

@viewport {
  width: device-width
}

html {
box-sizing: border-box;
overflow-x: hidden;
-webkit-text-size-adjust: 100%
}

*, *:before, *:after {
box-sizing: border-box;
}

body {
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
font-family: var(--font-family);
background: #fff;
background-size: 100%;
display: grid;
grid-template-columns: 1fr;
color: #1a1a1a;
}

html {
background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 var(--margin-base);
  font-family: var(--font-family-header);
  line-height: var(--lineheight-tight);
  font-weight: var(--font-weight-bold);
  color: var(--color-base);
  letter-spacing: -0.01em;
}

h1 {
  margin: 0 0 var(--spacing-x-large);
  font-size: var(--font-size-xlarge);
}

h2 {
  font-size: var(--font-size-large);
}

h3.site-title {
  font-size: var(--font-size-medium)
}

h4 {
  font-size: var(--font-size)
}

h5,
h6,
p,
ul,
ol,
dl {
  font-size: var(--font-size);
  line-height: var(--lineheight-high);
  font-weight: var(--font-weight);
}

p {
margin-bottom: var(--margin-large);
 text-align: justify;
}

a {
color: inherit;
font-weight: var(--font-weight-bold);
}

a:hover {
text-decoration: none;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a {
text-decoration: none;
}

.headline {
font-size: var(--font-size-large);
font-weight: var(--font-weight-bold);
line-height: var(--lineheight-normal);
margin-bottom: 40px;
}

.xlarge {
font-size: var(--font-size-xlarge);
line-height: var(--lineheight-tight);
margin-bottom: var(--margin-xxxlarge);
}

.large {
font-size: var(--font-size-large);
line-height: var(--lineheight-tight);
margin-bottom: var(--margin-xlarge);
}

.medium {
font-size: var(--font-size-medium);
margin: 0 0 var(--margin-base) 0;
color: var(--color-accent);
line-height: var(--lineheight-tight);
}

.standard {
font-size: var(--font-size);
margin: 0 0 var(--margin-base) 0;
color: var(--color-accent);
line-height: var(--lineheight-normal);
}

.small {
font-size: var(--font-size-small);
margin: 0 0 var(--margin-base) 0;
color: var(--color-accent);
line-height: var(--lineheight-normal);
}

blockquote {
position: relative;
padding-left: 20px;
}

.uppercase {
text-transform: uppercase;
}

.bold,
strong,
b {
font-weight: var(--font-weight-bold);
}

blockquote p {
font-family: var(--font-family);
font-weight: var(--font-weight-bold);
line-height: var(--lineheight-normal);
font-size: var(--font-size-large);
font-style: italic;
}

blockquote .medium {
font-size: var(--font-size-medium);
color: var(--color-accent);
font-weight: var(--font-weight);
font-style: italic;
text-transform: none;
}

blockquote:before {
content: '';
background: url(../img/quote.png) no-repeat center center;
background-size: 70%;
position: absolute;
font-size: 100px;
width: 100px;
height: 100px;
top: -40px;
left: -65px;
}

p + blockquote {
margin-top: 50px;
margin-bottom: 50px;
padding-left: 80px;
}

strong {
font-weight: var(--font-weight-bold);
}

img {
width: 100%;
}

main {
grid-column: 1;
grid-gap: 50px 50px;
display: grid;
grid-template-columns: 1fr 1fr;
padding: 20px;
position: relative;
}

.lfccrest {
grid-column: 1;
grid-row: 1;
}

.lfccrest img {
max-width: 60px;
}

article {
  margin: auto;
grid-column: 1/-1;
grid-row: 2;
}

h1 {
   font-size: 21vw;
   line-height: 0.6;
letter-spacing: -5px;
padding: 0 0 50px 0;
text-transform: uppercase;
}

.subtitle {
font-size: 30px;
line-height: 1.1em;
margin: 30px 0;
letter-spacing: -2px;
}

h3.site-title {
grid-column: 2;
letter-spacing: 4px;
text-transform: uppercase;
margin: 0;
align-self: center;
justify-self: flex-end;
font-size: 16px;
grid-row: 1;
}

p {
font-size: 16px;
line-height: 1.4em;
}

.second-hero {
grid-column: 1/-1;
}

.player-stats {
grid-column: 1/-1;
}

.player-stats .wrapper {
display: flex;
justify-content: space-between;
text-align: center;
font-weight: 700;
letter-spacing: 2px;
}

.player-stats span {
border-radius: 50%;
width: 100px;
height: 100px;
display: block;
background-color: #738A9E;
color: black;
text-align: center;
font-size: 25px;
font-weight: 700;
margin: 10px auto;
padding: 40px 0 0 0;
}

@media only screen and (min-width: 768px) {
main {
  padding: 20px;
  grid-template-columns: 100px 1fr 100px;
}

nav {
  grid-column: 1/-2;
  grid-row: 1;
  margin-left: 150px;
  align-self: center;
}

nav ul {
  display: flex;
}

nav ul li {
  width: 10%;
}

nav ul li a {
  text-decoration: none;
}

article {
  margin: auto;
  grid-column: 2;
  grid-row: 2;
  grid-gap: var(--grid-gap);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  font-size: 13vw;
  grid-column: 1/-1;
}

.subtitle {
  font-size: 36px;
  margin: 30px 0;
  grid-column: 1/-1;
}

h3.site-title {
  grid-column: 3;
  writing-mode: vertical-rl;
  align-self: flex-start;
  grid-row: span 2;
}

.main-copy {
  grid-column: 1/-1;
}
}


@media only screen and (min-width: 1400px) {

h1 {
  font-size: 11vw;
  letter-spacing: -12px;
}

.subtitle {
  font-size: 50px;
  margin: 30px 0;
  color: black;
}

main {
  grid-column: 1;
  grid-gap: var(--grid-gap);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 50px;
  position: relative;
}

.lfccrest {
  grid-column: 1;
  grid-row: 1;
}

.lfccrest img {
  max-width: 70px;
}

article {
  grid-column: 1;
  grid-row: 1;
}


.twocolumn {
 -webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
-webkit-column-width: 200px;
-moz-column-width: 200px;
column-width: 200px;
-webkit-column-gap: 30px;
-moz-column-gap: 30px;
column-gap: 30px;
}
}

.actors {
  margin-left: -500px;
  display: flex;
  justify-content: center;
}

.cast {
  border-radius: 5%;
  height: 100px;
  width: 100px;
  position: relative; 
  overflow: hidden;
  margin-right: 15px;
}

.trailer {
width: 120%;
}

.plyr button {
  color: white;
}

.plyr__control--overlaid {
  background: #738A9E;
}

.plyr--full-ui input[type="range"] {
  color: #738A9E;
}

.plyr__volume input[type="range"] {
  color: #738a9e;
}

h4 {
  text-align: center;
}

#letterpress {
  text-shadow: 1px 2px 3px black,
               0 0 0 white,
               -1px 1px 0 white,
               1px 1px 0 white;

  color: black;
  
  letter-spacing: var(--letterSpacing);

  font-size: 150px;
  font-weight: bold; 
}

[data-word="wicked"] {
  animation: flash 3s infinite;
  display: inline-block;
}